# Grouping

In [1]:
import pandas as pd
import numpy as np

stock = pd.DataFrame({
    'item_no': pd.Series([1, 2, 2, 4, 5, 6, 7, 8, 9, 10], dtype='Int64'),
    'cost_class': pd.Series(['1st', '2nd', '3rd', '4th', '4th', '3rd', '2nd', np.nan, '1st', '3rd'], dtype='string'),
    'cost': pd.Series([10.99, np.nan, 2.99, np.nan, 2.99, 2.45, 5.99, 5.99, 3.00, None], dtype='float64'),
    'stock_code': pd.Series(['a', 'a', 'c', 'b', 'a', 'b', np.nan, np.nan, 'a', 'c'], dtype='string'),
    'priority_code': pd.Series([np.nan, None, 'a', 'b', None, 'a', 'e', None, 'a', 'd'], dtype='string'),
    'tax_rate': pd.Series([0, 0, 20, 20, 20, 0, 20, 20, 5, 20])
})

stock

   item_no cost_class   cost stock_code priority_code  tax_rate
0        1        1st  10.99          a          <NA>         0
1        2        2nd    NaN          a          <NA>         0
2        2        3rd   2.99          c             a        20
3        4        4th    NaN          b             b        20
4        5        4th   2.99          a          <NA>        20
5        6        3rd   2.45          b             a         0
6        7        2nd   5.99       <NA>             e        20
7        8       <NA>   5.99       <NA>          <NA>        20
8        9        1st   3.00          a             a         5
9       10        3rd    NaN          c             d        20

In [2]:
grouped_stock = stock.groupby('stock_code')

In [3]:
grouped_stock.cost_class.count()

stock_code
a    4
b    2
c    2
Name: cost_class, dtype: int64

In [5]:
pd.DataFrame(grouped_stock)

   0                                                  1
0  a     item_no cost_class   cost stock_code priori...
1  b     item_no cost_class  cost stock_code priorit...
2  c     item_no cost_class  cost stock_code priorit...

In [6]:
pd.DataFrame(grouped_stock).loc[0,1]
#splitting 
#split-apply-combine

   item_no cost_class   cost stock_code priority_code  tax_rate
0        1        1st  10.99          a          <NA>         0
1        2        2nd    NaN          a          <NA>         0
4        5        4th   2.99          a          <NA>        20
8        9        1st   3.00          a             a         5

In [8]:
grouped_stock.count()

            item_no  cost_class  cost  priority_code  tax_rate
stock_code
a                 4           4     3              1         4
b                 2           2     1              2         2
c                 2           2     1              2         2

In [10]:
#apply multiple agg 
mul_agg = grouped_stock.agg(['count','min','max'])

In [11]:
mul_agg.columns

MultiIndex([(      'item_no', 'count'),
            (      'item_no',   'min'),
            (      'item_no',   'max'),
            (   'cost_class', 'count'),
            (   'cost_class',   'min'),
            (   'cost_class',   'max'),
            (         'cost', 'count'),
            (         'cost',   'min'),
            (         'cost',   'max'),
            ('priority_code', 'count'),
            ('priority_code',   'min'),
            ('priority_code',   'max'),
            (     'tax_rate', 'count'),
            (     'tax_rate',   'min'),
            (     'tax_rate',   'max')],
           )

In [12]:
mul_agg.loc[:, ('cost','max')]

stock_code
a    10.99
b     2.45
c     2.99
Name: (cost, max), dtype: float64

In [ ]:
get the mean,count and max for all in stock

In [13]:
grouped_stock.agg(['max','mean','count'])

/var/folders/h4/vy1nwyvd5kz_n6950nl29pj80000gn/T/ipykernel_60887/1517099336.py:1: FutureWarning: ['cost_class', 'priority_code'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grouped_stock.agg(['max','mean','count'])

           item_no               cost             tax_rate
               max  mean count    max  mean count      max   mean count
stock_code
a                9  4.25     4  10.99  5.66     3       20   6.25     4
b                6   5.0     2   2.45  2.45     1       20  10.00     2
c               10   6.0     2   2.99  2.99     1       20  20.00     2

In [17]:
stock.columns

Index(['item_no', 'cost_class', 'cost', 'stock_code', 'priority_code',
       'tax_rate'],
      dtype='object')

In [16]:
grouped_stock.agg({
    'cost_class': ['mean', 'max'],
    'cost':['mean','median'],
    'stock_code':['count']
})

TypeError: Cannot perform reduction 'mean' with string dtype

What happens if we .groupby() more than one column?
Task - 5 mins
Write code for the following:

Group the stock DataFrame by cost_class and stock_code, and then calculate the mean of all numerical columns.
Extract the mean(cost) for items in the 3rd cost_class with stock_code 'c'
Interpret what you see if you also pass dropna=False into .groupby()

In [19]:
two_group = stock.groupby(['cost_class','stock_code'])

In [20]:
two_group.agg('mean')

                       item_no   cost  tax_rate
cost_class stock_code
1st        a               5.0  6.995       2.5
2nd        a               2.0    NaN       0.0
3rd        b               6.0  2.450       0.0
           c               6.0  2.990      20.0
4th        a               5.0  2.990      20.0
           b               4.0    NaN      20.0

In [23]:
two_group.agg('mean').loc[('3rd', 'c'), 'cost']

2.99

In [24]:
stock.groupby(['cost_class','stock_code'], dropna=False).mean()

                       item_no   cost  tax_rate
cost_class stock_code
1st        a               5.0  6.995       2.5
2nd        a               2.0    NaN       0.0
           <NA>            7.0  5.990      20.0
3rd        b               6.0  2.450       0.0
           c               6.0  2.990      20.0
4th        a               5.0  2.990      20.0
           b               4.0    NaN      20.0
<NA>       <NA>            8.0  5.990      20.0

In [27]:
# custom agg 
stock_counts = grouped_stock.agg({
    "item_no" :['count'],
    'cost':['sum']
})

In [30]:
stock_counts[('cost','sum')] = stock_counts[('cost','sum')] - 2*stock_counts[('item_no','count')]

In [31]:
stock_counts

           item_no  cost
             count   sum
stock_code
a                4  0.98
b                2 -5.55
c                2 -5.01

In [35]:
def sum_minus_restocking(rows, restocking_fee = 2.00):
    return(rows.sum() - (rows.count()*restocking_fee))

In [36]:
stock_counts = grouped_stock.agg({
    "item_no" :['count'],
    'cost':sum_minus_restocking
})

In [37]:
stock_counts

           item_no                 cost
             count sum_minus_restocking
stock_code
a                4                10.98
b                2                 0.45
c                2                 0.99